@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--White);
  background-image: url('../src/img/background.jpg');
}
button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
:root {
  --Primary: #b10d8d;
  --Second: #ffd233;
  --Gray: #666666;
  --White: #d9d9d9;
  --Mint: #5eccc7;
  --Pink: #d856a7;
}

.hidden {
  visibility: hidden;
}

/**************** Header ****************/
.header {
  display: flex;
  justify-content: space-between;
  width: 1246px;
  margin-left: auto;
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  list-style-type: none;
}
.header-logo {
  font-size: 40px;
}
a {
  color: var(--White);
  text-decoration: none;
}

/**************** game-card ****************/
.game-card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0.2), transparent);
  width: 1246px;
  border-radius: 20px;
  margin-bottom: 200px;
}
.game-card-heading {
  margin-top: 40px;
  padding: 96px 0;
}
.game-card-play {
  margin-top: 80px;
  font-size: 80px;
  border: 3px solid var(--Primary);
  color: var(--Primary);
  border-radius: 40px;
  padding: 32px;
}
.game-card-play:hover {
  background-color: var(--Second);
}

/**************** contributor ****************/
.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.contributor-heading {
  color: var(--Second);
  margin-bottom: 120px;
}
.profile {
  display: flex;
  column-gap: 80px;
  align-items: center;
  margin-bottom: 48px;
}
.profile > img {
  width: 230px;
  height: 230px;
  border: 5px solid var(--Gray);
  border-radius: 50%;
}

.profile-description {
  width: 930px;
  padding: 40px;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, var(--Gray) 20%, orange 100%);
  border-image-slice: 1;
}
.profile-description:nth-child(1) {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, orange 20%, var(--Gray) 100%);
  border-image-slice: 1;
}

/**************** footer ****************/
.footer-outer {
  width: 100%;
  font-size: 18px;
  margin-top: 160px;
  position: relative;
  bottom: 20px;
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1246px;
  margin-left: auto;
  margin-right: auto;
}
.footer-description {
  text-align: center;
}

/****************************** signin start**********************************/
.signin-container {
  width: 800px;
  height: 654px;
  background-color: #000;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.input-container {
  display: flex;
  border-bottom: 2px solid #fff;
}

.input-container > label {
  line-height: 80px;
  margin-left: 30px;
}

.input-container > input {
  line-height: 80px;
  background: none;
  border: none;
}

.signin-title {
  font-size: 60px;
  font-weight: 300;
  padding-top: 80px;
  margin-bottom: 80px;
}

.signin_info {
  width: 613px;
  font-size: 18px;
  margin: 0 auto;
}

.signup-btn {
  width: 160px;
  border: 2px solid var(--Mint);
  border-radius: 20px;
  font-size: 18px;
  color: var(--Mint);
  display: inline-block;
  text-decoration: none;
  line-height: 80px;
  box-sizing: border-box;
  margin-top: 60px;
  margin-right: 100px;
}

.signin-btn {
  width: 160px;
  line-height: 80px;
  border: 2px solid var(--Pink);
  border-radius: 20px;
  font-size: 18px;
  color: var(--Pink);
}

/****************************** signup start **********************************/
.signup-container {
  width: 800px;
  /* height: 800px; */
  background-color: #000;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.signup-title {
  font-size: 60px;
  font-weight: 300;
  padding-top: 80px;
  margin-bottom: 80px;
}

.signup_info {
  width: 613px;
  font-size: 18px;
  margin: 0 auto;
}

.signup_info ~ .input-container {
  margin-bottom: 80px;
}

.submit-btn {
  width: 160px;
  border: 2px solid var(--Primary);
  border-radius: 20px;
  font-size: 18px;
  color: var(--Pink);
  display: inline-block;
  text-decoration: none;
  line-height: 80px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 40px;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}
/****************************** rank **********************************/
.rank-title {
  font-size: 80px;
  color: #fff;
  text-align: center;
  background-color: #666666;
}

.rank-title span {
  color: #d856a7;
}

.rank-container {
  width: 1270px;
  height: 526px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  background-color: #666666;
  color: #fff;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 20px 20px;
  overflow: scroll;
}

.rank-table {
  width: 100%;
  padding: 40px 145px;
}

.rank-container-head tr th {
  padding-bottom: 32px;
}

.rank-container-body tr td {
  padding-bottom: 24px;
}

.rank-first {
  font-size: 32px;
  color: #ffd233;
}
/******************************* matching card *******************************/
.game-title {
  font-size: 80px;
  color: #fff;
  background-color: #666666;
  text-align: center;
  margin-bottom: 80px;
}

.card-container {
  width: 1020px;
  margin: 0 auto 40px auto;
}

.cards {
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 60px;
  line-height: 150px;
  background-color: #5eccc7;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.reset-button {
  color: #ffd233;
  font-size: 24px;
  width: 160px;
  height: 80px;
  margin: 0 auto;
  display: inherit;
}
