@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  text-transform: uppercase;
}
button {
  border: 0;
  background-color: transparent;
}
:root {
  --Primary: #b10d8d;
  --Second: #ffd233;
  --Gray: #666666;
  --White: #d9d9d9;
  --Mint: #5eccc7;
  --Pink: #d856a7;
}

/**************** Header ****************/
.header {
  display: flex;

  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  list-style-type: none;
}
.header-logo {
  font-size: 40px;
}
a {
  color: black;
  text-decoration: none;
}

